{{> home}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mt-5 ml-5 mb-5">
    <div class="row ">

        <div class="card col-md-6 offset-1 mt-" style="border:1px solid blue">
            <div class="text-center mt-4">
                <img src="img/IMG_0904.jpg" class="card-img-top" alt="..." style="max-width: 200px;">
            </div>

            <div class="card-body text-center" >
                <h4 class="card-title mb-2"><strong>Vladimir Valerievich Petukhov</strong></h4>
                <p class="card-text">Web and Software Developer</p>
            </div>
            <ul class="list-group list-group-flush">
                
                <address style="font-family: 'Courier New', Courier, monospace;font-size:2em">
                    <abbr class="mr-3 " style="margin-left: 1px;"><b>Country:</b></abbr>Cyprus<br>
                    <abbr class="mr-3" style="margin-left: 54px;"><b>Town:</b></abbr>Paphos<br>
                    <abbr class="mr-3"><b>Address:</b></abbr>Georgiou Savva 25<br>
                    <abbr class="mr-3" style="margin-left: 36px;"><b>Phone:</b></abbr>(359) 894345591<br>
                    <abbr class="mr-3" style="margin-left: 36px;"><b>Email:</b></abbr>vlado_web@abv.bg
                </address>
                
            </ul>
            <div class="card-footer">
                <div class="row d-flex justify-content-center">
<a href="https://www.linkedin.com/in/vvp1984" class="card-link fab fa-linkedin-in" target="_blank"></a>
<a href="https://facebook.com/vladimir.v.petukhov" class="card-link fab fa-facebook-f" target="_blank"></a>
<a href="https://github.com/vladimirpetukhov" class="card-link fab fa-github" target="_blank"></a>
                </div>
            </div>
            
        </div>


    </div>
</div>