<div class="container mb-4">
    <div class="card mt-5 col-12 col-md-6 offset-md-1">
        <div class="col-12 div-header">School:</div>
        <div class="card-header">

            <h2 class="card-title "><a href="https://www.bfu.bg" target="blank">Burgas Free University</a></h2>
            <div>

            </div>
            <h4 style="float: right;">Software Engineer 3 - course</h4>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col-4">
                    <span class="badge badge-info">From:</span>
                    <span>09/2017</span>
                </div>
                <div class="col-4">
                    <span class="badge badge-info">To:</span>
                    <span>till now</span>
                </div>
            </div>



            <div class="m-0 col-3 div-header description-title mt-2"><b>Objects:</b></div>
            <div class="col-12 description-text mt-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <ul class="pt-2">
                            <li>Master Math 1, 2, 3</li>
                            <li>Math Statistics</li>
                            <li>Python</li>
                            <li>Computer Architectures</li>
                            <li>Computer Comunications</li>
                            <li>Technical Documentation</li>
                            <li>Raster and Vector Design</li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <ul class="pt-2">
                            <li>Microprocessors</li>
                            <li>Boolean Algebra</li>
                            <li>Algoritms</li>
                            <li>Databases</li>
                            <li>BI</li>
                            <li>Web Design</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <ul class="pt-2">
                            <li ><a class="pulsate" href="/bfu/JAVA" target="blank">JAVA</a></li>
                            <li><a class="pulsate" href="/bfu/Operation Investigation" target="blank">Operation
                                    Investigation</a></li>
                            <li><a class="pulsate" href="/bfu/IoT" target="blank">IoT</a></li>
                            <li><a class="pulsate" href="/bfu/AI" target="blank">AI</a></li>
                            <li><a class="pulsate" href="/bfu/OS" target="blank">Operating Systems</a></li>
                            <li><a class="pulsate" href="/bfu/NumericalMethods" target="blank">Numerical Methods</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




        </div>


    </div>
</div>

</div>