<div class="container mb-4">
    <div class="card mt-5 col-12 col-md-6 offset-md-1">
        <div class="col-12 div-header">School:</div>
        <div class="card-header">

            <h2 class="card-title "><a href="https://pgsag-sz.org/" target="blank">Lubor Bayer</a></h2>
            <div>

            </div>
            <h4 style="float: right;">Technical Manager аnd Draftsman of Building and Constructions</h4>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col-4">
                    <span class="badge badge-info">From:</span>
                    <span>09/1998</span>
                </div>
                <div class="col-4">
                    <span class="badge badge-info">To:</span>
                    <span>09/2002</span>
                </div>
            </div>



            <div class="m-0 col-3 div-header description-title mt-2"><b>Objects:</b></div>
            <div class="col-12 description-text mt-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <ul class="pt-2">
                            <li>Math</li>
                            <li>Arhitecture</li>
                            <li>Тechnical drawing</li>
                            <li>AutoCAD</li>
                            <li>Literature</li>
                            <li>English</li>
                            <li>Physics</li>
                            <li>Chemistry</li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <ul class="pt-2">
                            <li>Biology</li>
                            <li>
                                Building construction</li>
                            <li>Construction mechanics</li>
                            <li>
                                Engineering facilities</li>
                            <li>Water Facilities</li>
                            <li>Hydrology facilities</li>
                            <li>Paint</li>
                        </ul>
                    </div>
                </div>
            </div>




        </div>


    </div>
</div>

</div>