<div class="container mb-4">
    <div class="card mt-5 col-12 col-md-6 offset-md-1">
        <div class="col-12 div-header">School:</div>
        <div class="card-header">

            <h2 class="card-title "><a href="https://softuni.bg/" target="blank">Software University</a></h2>
            <div>

            </div>
            <h4 style="float: right;">Full-Stack .NET Developer</h4>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col-4">
                    <span class="badge badge-info">From:</span>
                    <span>05/2017</span>
                </div>
                <div class="col-4">
                    <span class="badge badge-info">To:</span>
                    <span>08/2019</span>
                </div>
            </div>



            <div class="m-0 col-3 div-header description-title mt-2"><b>Objects:</b></div>
            <div class="col-12 description-text mt-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <ul class="pt-2">
                            <li>C#</li>
                            <li>JavaScript</li>
                            <li>Python</li>
                            <li>jQuery</li>
                            <li>AJAX</li>
                            <li>NUnit/XUnit</li>
                            <li>Mocha/Chai</li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <ul class="pt-2">
                            <li>ADO.NET</li>
                            <li>EFCore</li>
                            <li>MS SQL/T-SQL</li>
                            <li>MongoDB</li>
                            <li>CSS3</li>
                            <li>HTML5</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="m-0 col-3 div-header description-title mt-2"><b>Frameworks:</b></div>
            <div class="col-12 description-text mt-2">
                <ul class="pt-2">
                    <li>.NET Framework &nbsp;(MVC)</li>
                    <li>.NET Core &nbsp;(MVC, WebAPI, Razor)</li>
                    <li>Node.Js/Express.Js</li>
                    <li>Angular</li>
                </ul>
            </div>

            <div class="m-0 col-3 div-header description-title mt-2"><b>IDE's:</b></div>
            <div class="col-12  description-text mt-2">
                <ul class="pt-2">
                    <li>Visual Studio 2005, 2003 20017, 2019</li>
                    <li>Visual Studio Code</li>
                    <li>Web Storm</li>
                    <li>Py Charm</li>
                </ul>
            </div>

            <div class="m-0 col-3 div-header description-title mt-2"><b>Certificates:</b></div>
            <div class="col-12  description-text mt-2">
                <ul class="pt-2">
                    <li><a href="https://softuni.bg/Certificates/Details/52170/f61c4e71" target="blank">Programming Basics with C#</a></li>
                    <li><a href="https://softuni.bg/certificates/details/55448/22f27b73" target="blank">Database Basics – MS SQL</a></li>
                    <li><a href="https://softuni.bg/certificates/details/57145/6e694f3e" target="blank">Databases Advanced - Entity Framework</a></li>
                    <li><a href="https://softuni.bg/certificates/details/62196/1e0dda49" target="blank">C# MVC Frameworks - ASP.NET Core</a></li>
                    <li><a href="https://softuni.bg/certificates/details/66049/233fc95a" target="blank">JS Fundamentals</a></li>
                    <li><a href="https://softuni.bg/certificates/details/69973/5fe5f6d2" target="blank">C# OOP</a></li>
                </ul>
            </div>



        </div>


    </div>
</div>

</div>