<div class="container mb-4">
    <div class="card mt-5 col-12 col-md-6 offset-md-1">
        <div class="col-12 div-header">School:</div>
        <div class="card-header">

            <h2 class="card-title "><a href="https://www.bfu.bg" target="blank">Burgas Free University</a></h2>
            <div>

            </div>
            <h4 style="float: right;">Operating Systems</h4>
        </div>
        <div class="card-body p-1">
            



            <div class="m-0 col-3 div-header description-title mt-2"><b>GCC C Programming</b></div>
            <div class="col-12 description-text mt-2">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <ul class="pt-2">
                            <li>01.Files and file system</li>
                            <li>02.Processes</li>
                            <li>03.InterProcess Communication</li>
                            <li>04.IPC Synchronization</li>
                            <li>05.Sockets</li>
                            <li>06.Threads</li>
                            <li>07.Threads_Synchronization</li>
                            <li>08.Daemons</li>
                        </ul>
                    </div>
                    
                </div>
            </div>




        </div>


    </div>
</div>

</div>