<div class="navbar navbar-default navbar-fixed-bottom nav-justified tr2 cw-t">
    <div class="row d-flex justify-content-center mb-5">
            <div class="col-4 ml-4" id="map-scale-line"></div>
            <div class="" id="map-mouse-position"></div>
        </div>
</div>