<div class="container mb-4">
    <div class="card mt-5 col-12 col-md-6 offset-md-1">
        <div class="col-12 div-header">Company:</div>
        <div class="card-header">
            
            <h2 class="card-title "><a href="https://www.bisoft.bg/" target="blank">Dimiroma Group</a></h2>
            <div>
                
            </div>
            <h4 style="float: right;">Web Developer</h4>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col-4">
                    <span class="badge badge-info">From:</span>
                    <span>08/2019</span>
                </div>
                <div class="col-4">
                    <span class="badge badge-info">To:</span>
                    <span>till now</span>
                </div>
            </div>



            <div class="m-0 col-3 div-header description-title mt-2"><b>Description:</b></div>
            <div  class="col-12 description-text mt-2">
                <ul class="pt-2">
                    <li>Proof of concept </li>
                    <li>Create, build test new startup project</li>
                    <li>Test interconnections between RestAPI's and future client side app</li>
                    <li>Create test interface</li>
                </ul>
            </div>

            <div class="m-0 col-3 div-header description-title mt-2"><b>Projects:</b></div>
            <div  class="col-12 description-text mt-2">
                <ul class="pt-2">
                    <li><a href="javascript:void(0)">Under Construction</a></li>
                </ul>
            </div>

            <div class="m-0 col-3 div-header description-title mt-2"><b>Tecnologies:</b></div>
            <div  class="col-12  description-text mt-2">
                <div class="row"><div class="col-md-6 col-12"><ul class="pt-2">
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>ASP.NET Core</li>
                    <li>jQuery</li>
                    <li>Bootstrap</li>
                    <li>CSS3</li>
                    <li>GisExplorer</li>
                </ul></div>
                <div class="col-md-6 col-12"><ul class="pt-2">
                    <li>Posgis/PostgreSQL</li>
                    <li>MongoDB</li>
                    <li>GeoServer</li>
                    <li>Open Layers</li>
                    <li>Inspire</li>
                    <li>QGIS</li>
                    <li>SLD/XML/JSON/Shp/Dxf/DWG</li>
                </ul></div></div>
                
                
            </div>


        </div>
    </div>

</div>