<div id="lang" style="width: 100%; height: 100%"></div>

<script>
    anychart.onDocumentReady(function() {
        // create a pie chart
        
        var chart_fr = anychart.column([
            ["Russian", 6],
            ["Bulgarian", 6],
            ["English", 4],
            ["Greek", 2]
            
        ]);
        chart_fr.title("Languages");
        // set the container where chart will be drawn
        chart_fr.container("lang");
        //  draw the chart on the page
        chart_fr.draw();
    });
</script> 