<div id="others" style="width: 100%; height: 100%"></div>

<script>
    anychart.onDocumentReady(function() {
        // create a pie chart
        
        var chart_fr = anychart.column([
            ["GeoServer", 3],
            ["Open Layers", 4],
            ["QGIS", 3],
            ["MapServer", 2]
            
        ]);
        chart_fr.title("Others");
        // set the container where chart will be drawn
        chart_fr.container("others");
        //  draw the chart on the page
        chart_fr.draw();
    });
</script> 